# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\UCU\OneDrive - Universidad Católica del Uruguay\MY FILES\ESTUDIOS\UCU\2021 S1\Algoritmos y Estructuras de Datos 1\Repos\UT4_TA12\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
